.main-view__ads {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width: 100%;
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.active-modal {
  opacity: 0%;
}

.main-view {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
}

.main-view__modal {
  overflow-y: hidden;
  align-items: flex-start;
}
